{% extends "base.html" %}
{% block content %}
<body>
    <div class="wordLists">
        <div class="wordList">
            <h1>Reductionistische woordenlijst:</h1>
            <ul id="reductionisticList">
                {% for word, gewicht in reductionistic_words %}
                    <li>{{ word ~ ' ' ~ gewicht }} <span class="delete" onclick="deleteWord('{{ word }}', '{{ gewicht }}')">&#128465;</span></li>
                {% endfor %}
                <form>
                    <input type="text" id="reductionisticWordInput" placeholder="Voeg reductionistisch woord toe">
                    <input type="number" id="reductionisticWordInput_Gewicht" placeholder="gewicht van het woord">
                    <button type="button" onclick="addReductionisticWord()">Voeg toe</button>
                </form>
            </ul>
        </div>

        <div class="wordList">
            <h1>Complexe woordenlijst:</h1>
            <ul id="complexList">
                {% for word, gewicht in complex_words %}
                    <li>{{ word ~ ' ' ~ gewicht }} <span class="delete" onclick="deleteWord('{{ word }}', '{{ gewicht }}')">&#128465;</span></li>
                {% endfor %}
                <form>
                    <input type="text" id="complexWordInput" placeholder="Voeg complex woord toe">
                    <input type="number" id="complexWordInput_Gewicht" placeholder="gewicht van het woord">
                    <button type="button" onclick="addComplexWord()">Voeg toe</button>
                </form>
            </ul>
        </div>

        <div class="wordList">
            <h1>Antoniemen:</h1>
            <ul id="antonymsList">
                {% for antonym in antonyms_list %}
                    <li>{{ antonym.antonym }} <span class="delete" onclick="deleteAntonym('{{ antonym.antonym }}')">&#128465;</span></li>
                {% endfor %}
                <form id="addAntonymForm">
                    <input type="text" name="antonym_to_process" placeholder="Enter antonym">
                    <button type="button" onclick="addAntonym()">Voeg antoniem toe</button>
                </form>
            </ul>
        </div>
    </div>
</body>
{% endblock %}
{% block scripts %}
    <script>
        function addAntonym() {
            let antonym = document.querySelector('input[name="antonym_to_process"]').value;
            let antonymOption = 'add_antonym';
            let action = 'addAntonym'; // Actie voor het toevoegen van antoniemen

            console.log(`Antonym: ${antonym}, Antonym Type: ${antonymOption}, Action: ${action}`);

            fetch("/bag-of-words", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `action=${action}&antonym_to_process=${antonym}&antonym_option=${antonymOption}` // Gebruik antonymOption in plaats van antonymType
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    console.log('Antonym operation successful');
                    updateAntonymsList();
                    location.reload();
                } else {
                    console.error('Adding antonym failed:', data.feedback);
                    // Voeg code toe om een foutmelding weer te geven aan de gebruiker, bijvoorbeeld:
                    alert('Failed to add antonym: ' + data.feedback);
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                // Voeg code toe om een foutmelding weer te geven aan de gebruiker, bijvoorbeeld:
                alert('There was a problem with the fetch operation: ' + error.message);
            });
        }

        function deleteAntonym(antonym_to_delete) {
            let action = 'delete_antonym';

            console.log(`Antonym to delete: ${antonym_to_delete}, Action: ${action}`);

            fetch("/bag-of-words", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `action=${action}&antonym_to_delete=${antonym_to_delete}` // Zorg ervoor dat antonym_to_delete correct wordt verzonden
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Antonym operation successful');
                    updateAntonymsList();
                    location.reload();
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }

        function updateAntonymsList() {
            let antonymsList = document.getElementById('antonymsList');

            fetch("/bag-of-words", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Antonym operation successful');
                    antonymsList.innerHTML = '';

                    data.antonyms_list.forEach(antonym => {
                        antonymsList.innerHTML += `<li>${antonym.antonym} <span class="delete" onclick="deleteAntonym('${antonym.antonym}')">&#128465;</span></li>`;
                    });
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }

        // Roep updateAntonymsList() aan bij het laden van de pagina om de antoniemenlijst te tonen
        window.addEventListener('load', function () {
            updateAntonymsList();
        });

        function updateWordLists() {
            let reductionisticList = document.getElementById('reductionisticList');
            let complexList = document.getElementById('complexList');

            fetch("/bag-of-words", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Verwijder alle bestaande items in de lijsten
                    reductionisticList.innerHTML = '';
                    complexList.innerHTML = '';

                    let reductionisticWords = data.reductionistic_words;
                    let complexWords = data.complex_words;

                    // Vul de lijsten met de nieuwe woordenlijsten
                    reductionisticWords.forEach(word => {
                        reductionisticList.innerHTML += `<li>${word}</li>`;
                    });

                    complexWords.forEach(word => {
                        complexList.innerHTML += `<li>${word}</li>`;
                    });
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                // Toon foutmelding aan de gebruiker
            });
        }

<!--        function addComplexWord() {-->
<!--            let complexWord = document.getElementById('complexWordInput').value;-->
<!--            addWord(complexWord, 'complex');-->
<!--        }-->


        function addComplexWord() {
            let complexWord = document.getElementById('complexWordInput').value;
            let complexWord_gewicht = document.getElementById('complexWordInput_Gewicht').value;

            // Controleer of beide velden niet leeg zijn
            if (complexWord.trim() === '' || complexWord_gewicht.trim() === '') {
                alert('Vul zowel het woord als het gewicht in.');
                return;
            }

            addWord(complexWord, complexWord_gewicht, 'complex');
        }



<!--        function addReductionisticWord() {-->
<!--            let reductionisticWord = document.getElementById('reductionisticWordInput').value;-->
<!--            addWord(reductionisticWord, 'reductionistic');-->
<!--        }-->


        function addReductionisticWord() {
            let reductionisticWord = document.getElementById('reductionisticWordInput').value;
            let reductionisticWord_gewicht = document.getElementById('reductionisticWordInput_Gewicht').value;

            // Controleer of beide velden niet leeg zijn
            if (reductionisticWord.trim() === '' || reductionisticWord_gewicht.trim() === '') {
                alert('Vul zowel het woord als het gewicht in.');
                return;
            }

            addWord(reductionisticWord, reductionisticWord_gewicht, 'reductionistic');
        }

        function addWord(word, gewicht, wordType) {
            let action = 'add';

            console.log(`Word: ${word}, Gewicht: ${gewicht}, Word Type: ${wordType}, Action: ${action}`);

            fetch("/bag-of-words", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `action=${action}&word_to_process=${word}&gewicht=${gewicht}&word_type=${wordType}`
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    // Store current selected value before reloading
                    sessionStorage.setItem('selectedWordType', wordType);

                    // Reload the page
                    location.reload();
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        }

        window.addEventListener('load', function () {
            // Retrieve and set the previously selected value
            let selectedType = sessionStorage.getItem('selectedWordType');
            if (selectedType) {
                document.querySelector('select[name="word_type"]').value = selectedType;
            }
        });

<!--        function deleteWord(wordToDelete) {-->
<!--            let action = 'delete';-->

<!--            console.log(`Word to delete: ${wordToDelete}, Action: ${action}`);-->

<!--            fetch("/bag-of-words", {-->
<!--                method: 'POST',-->
<!--                headers: {-->
<!--                    'Content-Type': 'application/x-www-form-urlencoded'-->
<!--                },-->
<!--                body: `action=${action}&word_to_process=${wordToDelete}`-->
<!--            })-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                if (data.success) {-->
<!--                    location.reload();-->
<!--                }-->
<!--            })-->
<!--            .catch(error => {-->
<!--                console.error('There was a problem with the fetch operation:', error);-->
<!--                // Handle error condition here (e.g., display an error message to the user)-->
<!--            });-->
<!--        }-->
<!--        -->


        function deleteWord(wordToDelete, weightToDelete) {
            let action = 'delete';

            console.log(`Word to delete: ${wordToDelete}, Weight to delete: ${weightToDelete}, Action: ${action}`);

            fetch("/bag-of-words", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `action=${action}&word_to_process=${wordToDelete}&weight_to_process=${weightToDelete}`
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
                // Handle error condition here (e.g., display an error message to the user)
            });
        }















    </script>
{% endblock %}