<!DOCTYPE html>
<html>
<head>
    <title>Physio1 Applicatie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/style.css') }}">

    <script>
        // Set cursor to 'progress' when a form is submitted
        document.addEventListener('submit', function () {
            document.documentElement.classList.add('progress')
        });

        // Change it back to the default cursor when the content is fully loaded
        document.addEventListener('DOMContentLoaded', function () {
            document.documentElement.classList.remove('progress')
        });
    </script>
</head>
<body>
<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/">
                <i class="bi bi-person"></i>
                <span>Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/bag-of-words">
                <i class="bi bi-gear"></i>
                <span>Aanpassen woordenlijst complexiteit</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/pdf">
                <i class="bi bi-question-circle"></i>
                <span>PDF uploaden</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/magazine">
                <i class="bi bi-question-circle"></i>
                <span>Vaktijdschrift resultaten</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/page">
                <i class="bi bi-question-circle"></i>
                <span>Pagina resultaten</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/complexity">
                <i class="bi bi-question-circle"></i>
                <span>Complexiteit over de jaren</span>
            </a>
        </li>
    </ul>

</aside>

<main id="main" style="padding-left: 64px; padding-top: 0;">
    {% block content %}{% endblock %}
</main>
{% block scripts %}{% endblock %}
</body>
</html>
