{% extends "base.html" %}
{% block content %}
    <h1>Complexiteit over de jaren</h1>
    <p>In de onderstaande grafiek word de complexiteit (en reductionisme) weergegeven door de publicatiejaren van de
        PDF's heen.</p>
    <p> Voor elk vaktijdschrift is een gemiddelde complexiteit en reductionistische score berekend, dit is een
        gemiddelde per pagina. Hiervoor is gekozen zodat de de scores elkaar niet wegstrepen, een score van +1 en -1
        voor twee willekeurige pagina's word immers 0 bijvoorbeeld.</p>
    <p id="feedback" style="color:red;">{{ feedback }}</p>

    {% if graph %}
        <div>
            {{ graph|safe }}
        </div>
    {% endif %}
{% endblock %}
