{% extends "base.html" %}
{% block content %}
    <h1>Overzichtpagina</h1>
    <h3>Welkom bij de applicatie van team Physio1!</h3>
    <p>Beste gebruiker, deze tool is bedoeld om inzichten te verkrijgen uit geüploade pdf's van PhysioPraxis. Bij het
        kopje 'Pdf uploaden' kunt u de gewenste pdf('s) uploaden. Vervolgens kunt u bij het kopje 'Vaktijdschriften'
        resultaten bekijken.</p>
    <p>Ieder teamlid van team 1 wenst u veel plezier met het gebruik ervan!</p>
{% endblock %}
