{% extends "base.html" %}
{% block content %}
    <h1>Vaktijdschriften resultaten</h1>

    <div style="margin-bottom: 10px">Selecteer een vaktijdschrift voor de resultaten:</div>
    <form action="/magazine" method="post">
        <select name="magazine_id">
            {% for magazine in magazines %}
                <option value="{{ magazine.id }}"
                        {% if selected_magazine and selected_magazine.id == magazine.id %}selected{% endif %}>
                    {{ magazine.title }}
                </option>
            {% endfor %}
        </select>
        <div>
            <button class="button-styling small-button" type="submit">Toon resultaten</button>
        </div>
    </form>

    <div id="magazine_resultsSection">
        {% if magazine_results %}
            <h2>Resultaten:</h2>

            {% if magazine_results.complexity_graph %}
                <h3>Grafiek complexiteitsscore per pagina in vaktijdschift</h3>
                <div>
                    {{ magazine_results.complexity_graph|safe }}
                </div>
            {% endif %}

            <h3>WordCloud:</h3>
            {% if magazine_results.wordcloud_img %}
                <img src="data:image/png;base64,{{ magazine_results.wordcloud_img }}" alt="WordCloud">
            {% else %}
                <p>Niet genoeg (gefilterde) tekst voor het genereren van een WordCloud!</p>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
{% block scripts %}
{% endblock %}