{% extends "base.html" %}
{% block content %}
    <h1>Pagina resultaten</h1>
    <div style="margin-bottom: 10px">Selecteer een vaktijdschrift om pagina's voor de analyseren:</div>
    <form action="/page" method="post">
        <select name="magazine_id">
            {% for magazine in magazines %}
                <option value="{{ magazine.id }}"
                        {% if selected_magazine and selected_magazine.id == magazine.id %}selected{% endif %}>
                    {{ magazine.title }}
                </option>
            {% endfor %}
        </select>
        <div>
            <button class="button-styling small-button" type="submit">Toon resultaten</button>
        </div>
    </form>


    {% if selected_magazine %}
        <div id="magazinepage_resultsSection">
            <div id="pageSection" style="margin-top: 25px">
                <div><strong>Beschikbare pagina's</strong></div>
                <div style="margin-bottom: 10px">Selecteer een paginanummer voor pagina specifieke resultaten:</div>
                <div style="display: inline-flex">
                    <form action="/page/results" method="post">
                        {% if selected_magazine %}
                            <input type="hidden" name="magazine_id" value="{{ selected_magazine.id }}">
                            <select id="sPage_number" name="page_number">
                            {% for page in selected_magazine.pages %}
                                <option value="{{ page.page_number }}"
                                        {% if page_results and page_results.page_number == page.page_number %}selected{% endif %}>
                                    {{ page.page_number }}
                                </option>
                            {% endfor %}
                        {% endif %}
                        </select>
                        <button class="button-styling small-button" style="margin: 0 0 0 5px;" type="submit">Toon resultaten van
                            pagina
                        </button>
                    </form>
                    <form action="/page/results/delete" method="post" onsubmit=" return confirmDelete()">
                        {% if selected_magazine %}
                            <input type="hidden" name="magazine_id" value="{{ selected_magazine.id }}">
                            <input type="hidden" id="iPage_number" name="page_number" value="0">
                        {% endif %}
                        <button class="button-styling small-button" style="margin: 0 0 0 10px;" type="submit">Verwijder pagina
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="pagepage_resultsSection">
        {% if page_results %}
            <h2>Resultaten:</h2>

            {% if page_results.text %}
                <h3>Tekst:</h3>
                <p id="pResults">{{ page_results.text }}</p>
                <form method="POST" action="/page/results/update" enctype="multipart/form-data">
                    <input type="hidden" name="magazine_id" value="{{ selected_magazine.id }}">
                    <input type="hidden" name="page_number" value="{{ page_results.page_number }}">

                    <label>
                        <textarea id="taResults" name="taResults" style="margin-bottom: 5px; display: none"></textarea>
                    </label>
                    <label id="btnEdit" class="custom-file-upload" onclick="initiateEdit()" style="margin-bottom: 5px;">
                        <i class="bi bi-cloud-upload"></i>Aanpassen
                    </label>
                    <label id="btnCancel" class="custom-file-upload" onclick="cancelEdit()"
                           style="margin-bottom: 5px; display: none">
                        <i class="bi bi-cloud-upload"></i>Cancel
                    </label>
                    <button type="submit" id="btnSave" class="custom-file-upload"
                            style="display: none; margin-top:20px; border:0">Save
                    </button>
                </form>
            {% endif %}

            {% if page_results.complexity_score is not none %}
                <h3>Complexiteitsscore</h3>
                <p>De complexiteitsscore wordt bepaald aan de hand van een analyse van specifieke woorden in de tekst.
                    Een hogere score duidt op een meer complexe tekst, terwijl een lagere score aangeeft dat de pagina
                    reductionistisch is. Een score van 0 geeft aan dat de pagina als zowel niet complex als
                    reductionistisch wordt beschouwd.</p>
                <p>Uitkomst: {{ page_results.complexity_score }}</p>
            {% endif %}

            <h3>WordCloud:</h3>
            {% if page_results.wordcloud_img %}
                <img src="data:image/png;base64,{{ page_results.wordcloud_img }}" alt="WordCloud">
            {% else %}
                <p>Niet genoeg (gefilterde) tekst voor het genereren van een WordCloud!</p>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
{% block scripts %}

    <script>
        function initiateEdit() {
            document.getElementById("taResults").style.display = "inline-block";
            document.getElementById("taResults").textContent = document.getElementById("pResults").textContent;
            document.getElementById("btnCancel").style.display = "inline-block";
            document.getElementById("btnSave").style.display = "inline-block";
            document.getElementById("btnEdit").style.display = "none";
            document.getElementById("pResults").style.display = "none";
        }

        function cancelEdit() {
            document.getElementById("pResults").style.display = "inline-block";
            document.getElementById("btnEdit").style.display = "inline-block";
            document.getElementById("btnCancel").style.display = "none";
            document.getElementById("btnSave").style.display = "none";
            document.getElementById("taResults").style.display = "none";
            document.getElementById("taResults").textContent = "";
        }

        function confirmDelete() {
            let e = document.getElementById("sPage_number");
            let value = e.options[e.selectedIndex].value;
            if (value !== "") {
                document.getElementById("iPage_number").value = value;
            } else {
                document.getElementById("iPage_number").value = "0";
            }

            return confirm(`Weet u zeker dat u de pagina met paginanummer '${value}' wilt verwijderen?`);
        }

    </script>
{% endblock %}