{% extends "base.html" %}
{% block content %}
    <h1 class="mb-4">PDF uploaden</h1>
    <div style="padding: 20px; display: flex; justify-content: center; align-items: center;">
        <div style="display: flex; flex-direction: row; width: 100%;">

            <!-- PDF upload part -->
            <div style="text-align: center; width: 40%;">
                <h2 class="mb-4">PDF upload</h2>
                <form method="POST" action="/pdf" enctype="multipart/form-data">
                    <label for="pdfFile" class="button-styling" style="margin-bottom: 5px;">Kies een bestand</label>
                    <input type="file" name="pdfFile" id="pdfFile" accept=".pdf" style="display: none;"
                           onchange="displayFileName(this)">
                    <div id="selectedFileBlock" style="display: none; width:100%;">
                        <div id="fileNameDisplay" class="mt-2"></div>
                        <div style="margin-top: 15px;">
                            <label for="publication_date">PDF publicatiedatum:</label>
                            <input type="date" id="publication_date" name="publication_date" required>
                        </div>
                    </div>
                    <button type="submit" id="uploadButton" class="button-styling"
                            style="display: none; margin-top:20px; border:0">Upload PDF
                    </button>
                </form>
                <p id="feedbackText" style="color: green;">{{ feedback }}</p>
            </div>

            <!-- Geüploade PDF's part -->
            <div style="text-align: center; width: 60%;">
                <h2 class="mt-4">Geüploade PDF's</h2>
                {% if magazines %}
                    <table class="table" style="margin: auto;">
                        <thead>
                        <tr>
                            <th style="border: 1px solid #ddd; padding: 8px;">Titel</th>
                            <th style="border: 1px solid #ddd; padding: 8px;">Publicatiedatum</th>
                            <th style="border: 1px solid #ddd; padding: 8px;">Upload datum</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for magazine in magazines %}
                            <tr>
                                <td style="border: 1px solid #ddd; padding: 8px;">{{ magazine.title }}</td>
                                <td style="border: 1px solid #ddd; padding: 8px;">
                                    {% if magazine.publication_date is not none %}
                                        {{ magazine.publication_date.strftime('%d/%m/%Y') }}
                                    {% else %}
                                        onbekend
                                    {% endif %}
                                </td>
                                <td style="border: 1px solid #ddd; padding: 8px;">{{ magazine.upload_date.strftime('%d/%m/%Y') }}</td>
                                <td style="padding: 2px;">
                                    <form method="POST" action="/pdf/delete" style="display: inline;"
                                          onsubmit="return confirmDelete()">
                                        <input type="hidden" name="delete_magazine_id" value="{{ magazine.id }}">
                                        <input type="hidden" id="magazine_title" value="{{ magazine.title }}">
                                        <button type="submit" class="trash-button">&#128465;</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Er zijn nog geen pdf's geüpload.</p>
                {% endif %}
            </div>
        </div>
        <div id="progress-container" style="display:none;">
            <div id="progress-bar-container">
                <div style="background: #f0f0f0; border-radius: 5px;">
                    <div id="progress-bar"></div>
                </div>
                <div style="margin-top: 15px;" id="progress-text"></div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('update_progress', function (msg) {
            const progressContainer = document.getElementById('progress-container');
            const progressBar = document.getElementById('progress-bar');
            const progressText = document.getElementById('progress-text');

            progressBar.style.width = msg.percentage + '%';
            progressText.innerHTML = msg.status;

            if (msg.percentage < 100) {
                progressContainer.style.display = 'flex';
            } else {
                progressContainer.style.display = 'none';
            }
        });

        function displayFileName(input) {
            const fileName = input.files[0].name;
            document.getElementById("selectedFileBlock").style.display = "inline-block";
            document.getElementById("fileNameDisplay").innerHTML = "Bestandsnaam: " + fileName;
            document.getElementById('publication_date').valueAsDate = getDateFromFileName(fileName);
            document.getElementById("uploadButton").style.display = "inline-block";
            document.getElementById("feedbackText").style.display = "none";
        }

        function getDateFromFileName(fileName) {
            // Extract year from the filename (looking for 4 consecutive numbers)
            const yearMatches = fileName.match(/\d{4}/);
            const currentDate = new Date();

            if (yearMatches) {
                const year = parseInt(yearMatches[0]);

                if (year >= 1950 && year <= currentDate.getFullYear()) {
                    return new Date(year - 1, 12, 2);
                }
            }

            // Default to today's date if no valid year is found
            return currentDate;
        }

        function confirmDelete() {
            const magazineTitle = document.getElementById('magazine_title').value;
            return confirm(`Weet u zeker dat u de PDF '${magazineTitle}' wilt verwijderen?`);
        }
    </script>

{% endblock %}
